body{
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
}

header h1{
    font-weight: bold;
}

.podcast-card{
    border-radius: 12px;
    transition: transform 0.3s;
}

.podcast-card:hover{
    transform: scale(1.05);
}

.card-title{
    font-weight: bold;
}

footer{
    margin-top: 40px;
}